<footer class="footer">
    <div class="footer-list">
     
        <div class="footer-version">
            <a>Repositorio</a>
            <a href="https://github.com/jucamero/PokeApi-Angular-Entrega-Final.git" target="_blank" rel="noopener noreferrer">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" class="github-icon">
            </a>
        </div>
        <div class="footer-copyright">© Camilo Mendoza 2024. All rights reserved.</div>
    </div>
</footer>
